<p>This page is under construction!</p>

<h2>Add New Listing</h2>

<form action="/listings" method="POST">
  <label for="_">Name</label>
  <input id="_" type="_" name="_" /><br>
  <label for="_">Picture URL</label>
  <input id="_" type="_" name="_" /><br>
  <label for="_">Price</label>
  <input id="_" type="_" name="_" /><br>
  <label for="_">Bedrooms</label>
  <input id="_" type="_" name="_" /><br>
  <label for="_">Bathrooms</label>
  <input id="_" type="_" name="_" /><br>
  <label for="_">Description</label>
  <input id="_" type="_" name="_" /><br>

  <input type="submit" value="Create New Listing">
</form>